.fadein {
  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &--1s {
    margin-top: $gutter*2;
    animation: fadein 2s;
  }

  &--2s {
    margin-top: -$gutter;
    margin-bottom: $gutter*2;
    animation: fadein 4s;
  }

  &--3s {
    animation: fadein 6s;
  }
}
