fieldset {
	border: none;
	font-family: Open Sans;
}

input, button, select, option {
	font-family: inherit;
}

.form__row {
	display: flex;
	flex-wrap: wrap;
}

.form__col {
	width: 100%;
	display: flex;
	padding-right: $gutter/2;
	padding-left: $gutter/2;
	margin: 0 0 $gutter;

	/*@media (min-width 600px) {
		.form__col {
			width: 50%;
		}
	}

	@media (min-width: 1200px) {
		.form__col {
			margin-right: (1/12 * 100) * 1%;
			margin-left: (1/12 * 100) * 1%;
		}
	}*/
}

.form {
	width: 100%;
	min-width: 200px;
	max-width: 800px;
	overflow: hidden;
	align-items: center;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: flex-start;
	}
}
