fieldset {
	border: none;
	font-family: 'Open Sans', sans-serif;
	width: 100%;

	input, select {
		margin-bottom: 20px;
	}

	.name_id {
		input {
			width: 100%;
		}
	}

	.phone_address {
		input {
			width: 100%;
		}
	}

	.kynval {
		label {
			padding-left: 10px;
		}
	}

	.kortastuss {
		input, select {
			width: 100%;
		}
	}

	.kort_info {
		display: inline-block;
		width: 100%;
	}

	.manudur {
		select {
			width: 50%;
		}
	}

	.ar {
		select {
			width: 50%;
		}
	}
}

.takki {
	padding-left: 50px;
	padding-right: 50px;
	max-width: (3.75/12 * 100) * 1%;
	margin-bottom: 100px;
  	text-align: center;
  	align-items: center;
}

input, button, select, option {
	font-family: inherit;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter/2;
	margin-right: -$gutter/2;
}

.col {
	display: flex;
	padding-right: $gutter/2;
	padding-left: $gutter/2;
	margin: 0 0 $gutter;
}


form {
	width: 100%;
	overflow: hidden;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: flex-start;
		align-items: center;
		width: 100%;

		@media (min-width: 600px) {
			.__content {
				width: 50%;
			}
		}

		@media (min-width: 1200px) {
			.__content {
				width: (4/12 * 100) * 1%;
				margin-left: (1/12 * 100) * 1%;
			}
		}
	}
}