.heading {
  font-family: Roboto Slab;

  &--one {
    font-size: 4em;
    font-weight: bolder;
  }

  &--two {
    font-size: 2em;
    font-weight: 500;
  }

  &--three {
    font-size: 2em;
    font-family: 'Open Sans'
  }
}
