.heading {
  font-family: 'Roboto Slab', serif;

  &--minni {
    margin-top: $gutter*8;
    font-size: 2rem;
    font-weight: 500;
    animation-delay: 2s;
  }

  &--body {
    font-size: 1.5rem;
  }

  &--main {
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    word-break: break;
    margin-bottom: $gutter*2;
  }

  &--message {
    margin-bottom: $gutter;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
