.heading {
  font-family: 'Roboto Slab', serif;

  &--minni {
    font-size: 2em;
    font-weight: 500;
    animation-delay: 2s;
  }

  &--body {
    font-size: 1.5em;
  }

  &--main {
    padding: $gutter;
    font-size: 4em;
    font-weight: bolder;
  }

  &--message {
    margin-bottom: $gutter;
    font-weight: bold;
    font-size: 1.5em;
  }
}
