.header {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: ($gutter * 8);
  background-image: url("../bg.jpg");
  background-attachment: fixed;
  text-align: center;

  &__content {
    padding: ($gutter * 8);
  }
}
