.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: $gutter * 2;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.8);

  &__link {
    font-family: inherit;
    color: $white;
  }
}
