@charset "UTF-8";
*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: border-box;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  margin-right: 20px;
  margin-left: 20px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.button {
  display: inline-block;
  width: 100%;
  max-width: 100px;
  padding: 10px 5px;
  margin: 0;
  overflow: hidden;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;
  transition: background-color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button--inverted {
    color: #666;
    background-color: #eee; }
  .button--inverted:hover {
    color: #333;
    background-color: #ccc; }
  .button--disabled, .button--disabled:hover {
    color: #999;
    background-color: #eee;
    border-color: #eee; }

.header {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 160px;
  background-image: url("../bg.jpg");
  background-attachment: fixed;
  text-align: center; }
  .header__content {
    padding: 160px; }

.header__kaupa {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 160px;
  background-image: url("../bg-subpage.jpg");
  background-attachment: fixed;
  text-align: left;
  object-fit: contain; }
  .header__kaupa__content {
    padding: 160px;
    color: white;
    padding-left: 0; }

.heading {
  font-family: Roboto Slab; }
  .heading--one {
    font-size: 3em; }
  .heading--two {
    font-size: 1.5em; }
  .heading--three {
    font-size: 1em; }

.text {
  padding: 20px; }

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-between; }

.footer {
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.8); }
  .footer__info {
    border-bottom: 3px solid white; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  .col-3 {
    width: 25%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-3 {
      width: 25%; } }

/*.offset {
  &-2 {
    margin-left: (2 / 12 * 100) * 1%; // reiknað einsog að ofan
  }

  &-sm {
    @media (max-width: 599px) {
      &-0 {
        margin-left: 0;
      }
    }
  }
}
*/
.roundimg {
  border-radius: 50%; }

.profilecard {
  width: 100%;
  overflow: hidden;
  /*
  &--wide {
    @media (min-width: 600px) {
      display: flex;
    }
  }

  &--wide &__content {
    @media (min-width: 600px) {
      align-items: flex-start;
    }
  }

  &--wide &__img {
    @media (min-width: 600px) {
      min-width: 400px;
      height: 100%;
      object-fit: cover;
    }
  }
  */ }
  .profilecard__content {
    display: flex;
    padding: 15px;
    text-align: center;
    flex-direction: column;
    align-items: center; }
  .profilecard__quote {
    font-family: Roboto Slab;
    font-size: 3rem; }
  .profilecard__heading {
    font-family: Roboto Slab;
    font-size: 2rem; }
  .profilecard__text {
    margin-bottom: 30px; }
  .profilecard__img {
    width: 100%;
    height: 100%; }

fieldset {
  border: none;
  font-family: Open Sans; }

input, button, select, option {
  font-family: inherit; }

.form__row {
  display: flex;
  flex-wrap: wrap; }

.form__col {
  width: 100%;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px;
  /*@media (min-width 600px) {
		.form__col {
			width: 50%;
		}
	}

	@media (min-width: 1200px) {
		.form__col {
			margin-right: (1/12 * 100) * 1%;
			margin-left: (1/12 * 100) * 1%;
		}
	}*/ }

.form {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden;
  align-items: center; }
  .form__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start; }
